In [2]:
import pandas as pd

In [5]:
pd.read_excel('./추가피처데이터/시가총액/000080.xlsx')

c:\Users\HangAri\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,시가총액,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,일자,종가,상장(등록)주식수(천주),NaN,상장(등록)예정주식수(천주),NaN,시가총액(억원),NaN
3,NaN,NaN,보통주,우선주,보통주,우선주,보통주,보통주+우선주
4,2023.05.31,22900,70134,1130,0,0,16061,16250
...,...,...,...,...,...,...,...,...
3361,2009.10.23,42800,42995,0,0,0,18402,18402
3362,2009.10.22,43300,42995,0,0,0,18617,18617
3363,2009.10.21,43950,42995,0,0,0,18896,18896
3364,2009.10.20,43000,42995,0,0,0,18488,18488
3365,2009.10.19,42450,42995,0,0,0,18252,18252

In [6]:
pd.read_excel('./추가피처데이터/투자자별매매동향(수급)/000080.xlsx')

c:\Users\HangAri\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,종목별 투자자 매매동향,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,일자,외국인,NaN,NaN,개인,NaN,NaN,기관계,NaN,NaN,...,사모펀드,NaN,NaN,국가,NaN,NaN,기타법인,NaN,NaN,매수합계
3,NaN,매수,매도,순매수,매수,매도,순매수,매수,매도,순매수,...,매수,매도,순매수,매수,매도,순매수,매수,매도,순매수,NaN
4,2023.05.31,2383,2879,-496,3563,3310,253,932,695,237,...,276,30,245,0,0,0,28,22,6,6907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2010.02.26,360,194,166,985,889,96,200,674,-474,...,38,79,-41,4,27,-23,248,12,235,1796
164,2010.01.29,286,161,125,1403,1307,96,541,760,-219,...,19,77,-58,0,13,-13,54,44,11,2284
165,2009.12.31,625,223,401,1291,1253,38,1106,1439,-332,...,56,172,-116,16,35,-18,45,134,-89,3083
166,2009.11.30,369,266,103,1508,1684,-177,1471,1415,55,...,45,55,-10,21,3,18,48,48,0,3416
167,2009.10.30,930,675,255,4528,4216,312,1601,2307,-705,...,49,440,-390,87,1,86,179,127,52,7326